{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drishya - Best Platform For Photographers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="static/images1/drishya - Copy.png" rel="icon">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css1/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css1/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css1/animate.css' %}">    
    
    <link rel="stylesheet" href="{% static 'fonts1/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'css1/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css1/style.css' %}">
    
  </head>
  <body>
  
  

  <div class="site-wrap">

    

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="row align-items-center">
            <div class="col-2">
              <h2 class="mb-0 site-logo"><a href="index.html" class="font-weight-bold text-uppercase"><img src="static/images1/4C66EB41-B120-4730-8E0D-766EA171EED1.jpeg"></a></h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li><a href="index.html"><font color="blue">HOME</font> </a></li>

                    <li class="has-children">
                      <ul class="dropdown arrow-top">
                        
                        <li class="has-children">
                          <ul class="dropdown">
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="login">LOGIN</a></li>
                    
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="slide-one-item home-slider owl-carousel">
      
      <div class="site-blocks-cover inner-page overlay" style="background-image: url(static/images1/mountain-peaks-3840x2160.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center" data-aos="fade">
              <h1 class="font-secondary  font-weight-bold text-uppercase">Welcome to Drishya</h1>
            </div>
          </div>
        </div>
      </div>  

      <div class="site-blocks-cover inner-page overlay" style="background-image: url(static/images1/smugglers_cove.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="font-secondary font-weight-bold text-uppercase">Best platform for photographers</h1>
            </div>
          </div>
        </div>
      </div> 
    </div>

<br>
<br>
<br>
  <div class="site-half">
    <div class="img-bg-1" style="background-image: url('static/images1/this-series-of-nature-photography-will-leave-you-in-awe.jpg');" data-aos="fade"></div>
    <div class="container">
      <div class="row no-gutters align-items-stretch">
        <div class="col-lg-5 ml-lg-auto py-5">
          <span class="caption d-block mb-2 font-secondary font-weight-bold">HISTORY OF</span>
          <h2 class="site-section-heading text-uppercase font-secondary mb-5">PHOTOGRAPHY</h2>
          <p>Photography is the result of combining several technical discoveries, relating to seeing an image and capturing the image. The discovery of the camera obscura ("dark chamber" in Latin) that provides an image of a scene dates back to ancient China.</p>
          <p>Greek mathematicians Aristotle and Euclid independently described a camera obscura in the 5th and 4th centuries BCE.In the 6th century CE, Byzantine mathematician Anthemius of Tralles used a type of camera obscura in his experiments.</p>
        </div>
      </div>
    </div>
  </div>
</div>
    

  
    
    

    


    
    <div class="site-section block-14 nav-direction-white">

      <div class="container">
        
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="site-section-heading text-center text-uppercase"></h2>
          </div>
        </div>

        <div class="nonloop-block-14 owl-carousel">
          

            <div class="d-block block-testimony mx-auto text-center">
              <div>
                <blockquote>&ldquo;“In photography there is a reality so subtle that it becomes more real than reality.”&rdquo;</blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              
              <div>
                <blockquote>&ldquo;“There is one thing the photograph must contain, the humanity of the moment.”&rdquo;</blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              
              <div>
                <blockquote>&ldquo;“Taking an image, freezing a moment, reveals how rich reality truly is.”&rdquo;</blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              
              <div>
                <blockquote>&ldquo;“Photography is the story I fail to put into words.”&rdquo;</blockquote>
              </div>
            </div>

        </div>

      </div>
      
    </div>

   



    

    <footer class="site-footer bg-dark">
      <div class="container">
      	<center><h1><font color="white">CONTACT US</font></h1></center>
      	<br>
        <center><div class="col-md-12 col-lg-8 mb-5">
          
            
          
            <form action="/" class="p-5 bg-white" method="POST" >
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Full Name</label>
                  <input type="text" id="fullname" class="form-control" placeholder="Full Name" name="name" data-rule="required" data-msg="Please enter a name">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email Address" name="email" data-rule="required" data-msg="Please enter a name">
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="phone">Phone</label>
                  <input type="text" id="phone" class="form-control" placeholder="Phone #" name="subject" data-rule="required" data-msg="Please enter a name">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Say hello to us" name="message" data-rule="required" data-msg="Please enter a name"></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <br>
                  <center><font color = "red">{% for message in messages %}
                    <h6>{{message}}</h6>
                    {% endfor %}</center></font><br>
                  <input type="submit" value="Send Email" class="button text-white px-4 py-2">
                </div>
              </div>
  
            </form>
          </div></center>

           
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="" target="_blank" >Drishya</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>

            
          </div>
          
        </div>
      </div>
    </footer>
  </div>
  <style type="text/css">
  .button{
  	background-color:#303030;border:2px solid #303030;padding:3px;height: 50px;width: 150px;
  }
  </style>

  <script src="{% static 'js1/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js1/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js1/jquery-ui.js' %}"></script>
  <script src="{% static 'js1/popper.min.js' %}"></script>
  <script src="{% static 'js1/bootstrap.min.js' %}"></script>
  <script src="{% static 'js1/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js1/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js1/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js1/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js1/aos.js' %}"></script>
  <script src="{% static 'js1/main.js' %}"></script>

  
  </body>
</html>